.diretor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Ajuste a altura conforme necessário */
}

.diretor img {
  transition: 0.3s; /* Adiciona uma transição suave */
}

.imagem-gerente:hover,
.imagem-gerente2:hover,
.imagem-normal:hover {
  transform: scale(1.2); /* Aumenta a escala da imagem quando o mouse passa por cima */
}


.gerentes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajuste a altura de acordo com a necessidade */
}

.imagem-gerente,
.imagem-gerente2,
.imagem-normal,
.imagem-hover {
    width: 200px; /* Largura desejada */
    height: auto; /* Altura automática para manter a proporção original */
    transition: transform 0.3s;
}

.imagem-gerente {
    margin-right: 100px; /* Adiciona uma margem à direita para separar as imagens */
    
}

